body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.reg-btn,.login-btn{
  float:right;margin-top:5px;
  margin-left: 10px;
  background:#3F51B5;color:white;
}
